{% extends "layouts/main.html" %}

{% block pageTitle %}
  Objector(s) - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <h1 class="govuk-heading-l">Check objector details</h1>

      {# TABLE #}
      {% if objectors.length > 0 %}
        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" aria-sort="none">Name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Address</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Contact</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Status</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in objectors %}
              <tr class="govuk-table__row">
                
                {# COLUMN 1: Name & Org #}
                <td class="govuk-table__cell">
                  {% if item.fname or item.lname or item.org %}
                    {% if item.fname or item.lname %}
                      <strong>{{ item.fname }} {{ item.lname }}</strong><br>
                    {% endif %}
                    {% if item.org %}
                      <span class="govuk-body-s govuk-!-color-secondary">{{ item.org }}</span>
                    {% endif %}
                  {% else %}
                    -
                  {% endif %}
                </td>
                
                {# COLUMN 2: Address #}
                <td class="govuk-table__cell">
                  {% if item.address1 or item.town or item.county or item.postcode %}
                    {% if item.address1 %}{{ item.address1 }}<br>{% endif %}
                    {% if item.town %}{{ item.town }}<br>{% endif %}
                    {% if item.county %}{{ item.county }}<br>{% endif %} {# NEW #}
                    {{ item.postcode }}
                  {% else %}
                    -
                  {% endif %}
                </td>

                {# COLUMN 3: Contact #}
                <td class="govuk-table__cell">
                  {% if item.email or item.phone %}
                    {% if item.email %}{{ item.email }}<br>{% endif %}
                    {{ item.phone }}
                  {% else %}
                    -
                  {% endif %}
                </td>

                {# COLUMN 4: Status #}
                <td class="govuk-table__cell">
                  {{ item.status | default("-") }}
                </td>

                {# ACTIONS #}
                <td class="govuk-table__cell">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/cases/key-contacts/objectors/step-1?ref={{ ref }}&id={{ item.id }}">
                        Change<span class="govuk-visually-hidden"> row</span>
                      </a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/cases/key-contacts/objectors/remove?ref={{ ref }}&id={{ item.id }}">
                        Remove<span class="govuk-visually-hidden"> row</span>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p class="govuk-body">No objector details found</p>
      {% endif %}

      {# BUTTONS #}
      <form action="/cases/case-details" method="get">
        <input type="hidden" name="ref" value="{{ ref }}">
        
        <div class="govuk-button-group">
          {{ govukButton({
            text: "Add details",
            classes: "govuk-button" if objectors.length == 0 else "govuk-button--secondary",
            href: "/cases/key-contacts/objectors/step-1?ref=" + ref
          }) }}

          {% if objectors.length == 0 %}
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: "/cases/case-details?ref=" + ref
            }) }}
          {% endif %}
        </div>


        {% if objectors.length > 0 %}
          <div class="govuk-button-group">
            {{ govukButton({ text: "Save and continue" }) }}
            {{ govukButton({
              text: "Cancel",
              classes: "govuk-button--secondary",
              href: "/cases/case-details?ref=" + ref
            }) }}
          </div>
        {% endif %}
      </form>

    </div>
  </div>

{% endblock %}