{% extends "layouts/main.html" %}

{% block pageTitle %}
  When is the pre inquiry meeting? (optional) - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/cases/case-details?ref=" + ref }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="/cases/procedures/{{ index }}/pim-date?ref={{ ref }}" method="post" novalidate>
      <input type="hidden" name="ref" value="{{ ref }}">

      {{ govukDateInput({
        id: "pim",
        namePrefix: "pim",
        fieldset: {
          legend: {
            text: "When is the pre inquiry meeting? (optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        errorMessage: { text: errorList[0].text } if errorList.length > 0 else null,
        items: [
          { name: "day", classes: "govuk-input--width-2", value: day },
          { name: "month", classes: "govuk-input--width-2", value: month },
          { name: "year", classes: "govuk-input--width-4", value: year }
        ]
      }) }}


      <div class="govuk-form-group {% if errorFields and ('hour' in errorFields or 'minute' in errorFields or 'ampm' in errorFields) %}govuk-form-group--error{% endif %}">
        <fieldset class="govuk-fieldset" aria-describedby="time-hint">
          
          <legend class="govuk-fieldset__legend govuk-visually-hidden">
             Time
          </legend>
          
          <div id="time-hint" class="govuk-hint">
             For example, 9:30am or 2:55pm
          </div>

          
          {% for error in errorList %}
            {% if "hour" in error.href or "minute" in error.href or "ampm" in error.href %}
               <p class="govuk-error-message">
                 <span class="govuk-visually-hidden">Error:</span> {{ error.text }}
               </p>
            {% endif %}
          {% endfor %}

          <div class="govuk-date-input">
            
      
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="pim-hour">
                  Hour
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if 'hour' in errorFields %}govuk-input--error{% endif %}" id="pim-hour" name="pim-hour" type="text" inputmode="numeric" value="{{ hour }}">
              </div>
            </div>

            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="pim-minute">
                  Minute
                </label>
                <input class="govuk-input govuk-date-input__input govuk-input--width-2 {% if 'minute' in errorFields %}govuk-input--error{% endif %}" id="pim-minute" name="pim-minute" type="text" inputmode="numeric" value="{{ minute }}">
              </div>
            </div>

    
            <div class="govuk-date-input__item">
              <div class="govuk-form-group">
                <label class="govuk-label govuk-date-input__label" for="pim-ampm">
                  am or pm
                </label>
                <select class="govuk-select {% if 'ampm' in errorFields %}govuk-select--error{% endif %}" id="pim-ampm" name="pim-ampm">
                  <option value="" {% if not ampm %}selected{% endif %}></option>
                  <option value="am" {% if ampm == 'am' %}selected{% endif %}>am</option>
                  <option value="pm" {% if ampm == 'pm' %}selected{% endif %}>pm</option>
                </select>
              </div>
            </div>

          </div>
        </fieldset>
      </div>

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save" }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}