{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if error %}Error: {% endif %}Add Inspector Name
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({ text: "Back", href: "/cases/edit/check-inspectors?ref=" + ref }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if error %}
      {{ govukErrorSummary({ titleText: "There is a problem", errorList: [{ text: errorMessage.text, href: "#inspector-name" }] }) }}
    {% endif %}

    <form action="/cases/inspectors/inspector-name?ref={{ ref }}" method="post" novalidate>
      <div class="govuk-form-group {% if error %}govuk-form-group--error{% endif %}">
        
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="inspector-name">
            Who is the inspector?
          </label>
        </h1>
        
        {% if error %}
          <p id="inspector-name-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errorMessage.text }}
          </p>
        {% endif %}

        {# AUTOCOMPLETE CONTAINER #}
        <div id="inspector-container"></div>
      </div>

      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}

{% block pageScripts %}
<link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  const officers = [
    "Charlotte Morphet",
    "Kieran De La Cruz", "Edward Mitchell", "Sarah Tudor", "Steve Waterfield",
    "Alex Hudd", "Harry Wood", "Rob Davis", "Deborah Board",
    "(Service Account) Automated Tester", "Owen Woodwards"
  ];

  accessibleAutocomplete({
    element: document.querySelector('#inspector-container'),
    id: 'inspector-name', 
    name: 'inspectorName',
    source: officers,
    defaultValue: "{{ value }}",
    showAllValues: false,
    confirmOnBlur: false, 
    autoselect: true
  })
</script>
{% endblock %}