{% extends "layouts/main.html" %}

{% block pageTitle %}
  Who is the applicant? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/input/macro.njk" import govukInput %}

{% if errorApplicantName %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter the applicant",
            href: "#applicant-name"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/applicant-name-answer" method="post">

{{ govukInput({
  label: {
    text: "Who is the applicant?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
   hint: {
    text: "Enter the main party e.g applicant, server, utility company"

  },
  id: "applicant-name",
  name: "applicantName",
  value: data['applicantName'],

        errorMessage: {
          text: "Enter the applicant"
        } 
        if errorApplicantName else null
      }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}