{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cases/create-a-case/questions/site-address" method="post">

       {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "Who is the applicant?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Enter the main party e.g applicant, server, utility company"
  },
  id: "applicant-name",
  name: "applicantName",
  value: data['applicantName']
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
