{% set activePage = "create-case" %}

{% extends "layouts/main.html" %}

{% block pageTitle %}
  What area does this new case relate to? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}

  {{ govukBackLink({
  text: "Back",
  href: "/cases-page"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorCaseworkArea %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorCaseworkArea, href: "#casework-area" }]
      }) }}
    {% endif %}

    <form class="form" action="/casework-area-answer" method="post" novalidate>
      {{ govukRadios({
        name: "casework-area",
        value: data['casework-area'],
        fieldset: {
          legend: { text: "What area does this new case relate to?", isPageHeading: true, classes: "govuk-fieldset__legend--l" }
        },
        errorMessage: { text: errorCaseworkArea } if errorCaseworkArea else null,
        items: [
          { value: "Planning, Environmental and Applications", text: "Planning, Environmental and Applications" },
          { value: "Rights of Way and Common Land", text: "Rights of Way and Common Land" }
        ]
      }) }}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}
