{% extends "layouts/main.html" %}

{% block pageTitle %}
  Who is the assigned case officer? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% if errorCaseOfficer %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: errorCaseOfficer,
            href: "#case-officer"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/case-officer-answer" method="post">

      <div class="govuk-form-group {{ 'govuk-form-group--error' if errorCaseOfficer }}">
        
        <h1 class="govuk-label-wrapper">
          <label class="govuk-label govuk-label--l" for="case-officer">
            Who is the assigned case officer?
          </label>
        </h1>
        
        {# --- Error Message --- #}
        {% if errorCaseOfficer %}
          <p id="case-officer-error" class="govuk-error-message">
            <span class="govuk-visually-hidden">Error:</span> {{ errorCaseOfficer }}
          </p>
        {% endif %}

        {# --- CONTAINER --- #}
        <div id="case-officer-container"></div>

      </div>

      {{ govukButton({
        text: "Continue"
      }) }}

    </form>

  </div>
</div>

{% endblock %}

{% block pageScripts %}
<link rel="stylesheet" href="/public/css/accessible-autocomplete.min.css">
<script src="/public/javascripts/accessible-autocomplete.min.js"></script>
<script>
  
  const officers = [
    "Charlotte Morphet",
    "Kieran De La Cruz",
    "Edward Mitchell",
    "Sarah Tudor",
    "Steve Waterfield",
    "Alex Hudd",
    "Harry Wood",
    "Rob Davis",
    "Deborah Board",
    "(Service Account) Automated Tester",
    "Owen Woodwards",
    "Tony Stark",
    "Steve Rogers",
    "Natasha Romanoff",
    "Bruce Banner",
    "Thor Odinson",
    "Wanda Maximoff",
    "Peter Parker",
    "Carol Danvers",
    "Stephen Strange",
    "T'Challa",
    "Clint Barton",
    "Sam Wilson",
    "Bucky Barnes",
    "Scott Lang",
    "Hope van Dyne"
  ]

  accessibleAutocomplete({
    element: document.querySelector('#case-officer-container'),
    id: 'case-officer', 
    name: 'caseOfficer',
    source: officers,
    defaultValue: "{{ data['caseOfficer'] }}",
    showAllValues: false,
    
  
    confirmOnBlur: false, 
    autoselect: true
  })
</script>
{% endblock %}


