{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the case name? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

{% from "govuk/components/input/macro.njk" import govukInput %}

{% if errorCaseName %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [
          {
            text: "Enter the case name",
            href: "#case-name"
          }
        ]
      }) }}
    {% endif %}

    <form class="form" action="/case-name-answer" method="post">

{{ govukInput({
  label: {
    text: "What is the case name?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  id: "case-name",
  name: "caseName",
  value: data['caseName'],

        errorMessage: {
          text: "Enter the case name"
        } 
        if errorCaseName else null
      }) }}
  
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
