{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which Coastal Access subtype is it? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which Coastal Access subtype is it?
      </h1>

      <form class="form" action="/cases/create-a-case/questions/case-name" method="post">
      
         {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "coastal-subtype",
  value: data['coastal-subtype'], fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
    {
      value: "Coastal access appeal",
      text: "Coastal access appeal"
    },
    {
      value: "Notice appeal",
      text: "Notice appeal"
    },
    {
      value: "Objection",
      text: "Objection"
    },
    {
      value: "Restriction appeal (access land)",
      text: "Restriction appeal (access land)"
    }
    
  ]
}) }}
       
        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
