{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which Common Land subtype is it? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
{{ govukBackLink({ text: "Back", href: "/cases/create-a-case/questions/row-type-of-case" }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which Common Land subtype is it?
      </h1>

      <form class="form" action="/cases/create-a-case/questions/case-name" method="post">
     
         {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "common-land-subtype",
  value: data['common-land-subtype'], fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
    {
      value: "Commons for Ecclesiastical Purposes",
      text: "Commons for Ecclesiastical Purposes"
    },
    {
      value: "Commons in Greater London",
      text: "Commons in Greater London"
    },
    {
      value: "Compulsory Purchase of Common Land",
      text: "Compulsory Purchase of Common Land"
    },
    {
      value: "Referred applications from Commons Registration Authorities",
      text: "Referred applications from Commons Registration Authorities"
    },
    {
      value: "Deregistration & Exchange",
      text: "Deregistration & Exchange"
    },
    {
      value: "Inclosure",
      text: "Inclosure"
    },
    {
      value: "Inclosure : obsolescent functions",
      text: "Inclosure : obsolescent functions"
    },
    {
      value: "Land Exchange",
      text: "Land Exchange"
    },
    {
      value: "Local Acts and Provisional Order Confirmation Acts",
      text: "Local Acts and Provisional Order Confirmation Acts"
    },
    {
      value: "Public Access to Commons - limitations and restrictions",
      text: "Public Access to Commons - limitations and restrictions"
    },
    {
      value: "Scheme of Management",
      text: "Scheme of Management"
    },
    {
      value: "Stint Rates",
      text: "Stint Rates"
    },
    {
      value: "Works on Common Land",
      text: "Works on Common Land"
    },
    {
      value: "Works on Common Land (National Trust)",
      text: "Works on Common Land (National Trust)"
    }
    
  ]
}) }}
        

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
