{% extends "layouts/main.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/cases/create-a-case/questions/peas-type-of-case"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Which Drought subtype is it?
      </h1>

      <form class="form" action="/drought-subtype-answer" method="post">

        <p>
         {% from "govuk/components/radios/macro.njk" import govukRadios %}

{{ govukRadios({
  name: "drought-subtype",
  value: data['drought-subtype'], fieldset: {
    legend: {
      text: "",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },

  items: [
    {
      value: "Drought Permits",
      text: "Drought Permits"
    },
    {
      value: "Drought Orders",
      text: "Drought Orders"
    }
    
  ]
}) }}
        </p>

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
