{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the site location if no address was added? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/cases/create-a-case/questions/authority" method="post">

       {% from "govuk/components/input/macro.njk" import govukInput %}

{{ govukInput({
  label: {
    text: "What is the site location if no address was added?",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "For example, name of common, village green, area or body of water"

  },
  id: "site-location",
  name: "siteLocation",
  value: data['siteLocation']
}) }}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
