{% extends "layouts/main.html" %}

{% block pageTitle %}
  Which case type is it? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/cases/create-a-case/questions/casework-area"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <form class="form" action="/row-type-of-case-answer" method="post">

{{ govukRadios({
  name: "row-type-of-case",
  value: data['row-type-of-case'], fieldset: {
    legend: {
      text: "Which case type is it?",
      isPageHeading: true,
      classes: "govuk-fieldset__legend--l"
    }
  },
  items: [
    {
      value: "Coastal Access",
      text: "Coastal Access"
    },
    {
      value: "Common Land",
      text: "Common Land"
    },
    {
      value: "Rights of Way",
      text: "Rights of Way"
    }
  ]
}) }}


        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
