{% extends "layouts/main.html" %}

{% block pageTitle %}
  What is the site address? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "javascript:window.history.back()"
}) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {# 1. ERROR SUMMARY (Only shows if there is an error) #}
      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage.text,
              href: "#addressPostcode"
            }
          ]
        }) }}
      {% endif %}

      <form class="form" action="/site-address-answer" method="post">

{% from "govuk/components/input/macro.njk" import govukInput %}
{% from "govuk/components/fieldset/macro.njk" import govukFieldset %}

{% call govukFieldset({
  legend: {
    text: "What is the site address?",
    classes: "govuk-fieldset__legend--l",
    isPageHeading: true
    }

  }) %}

  <p class="govuk-hint">
    You are able to add a site location on the next page if there is no site address.
  </p>

  {{ govukInput({
    label: {
      text: "Address line 1 (optional)"
    },
    id: "address-line-1",
    name: "addressLine1",
    value: data['addressLine1'],
    autocomplete: "address-line1"

  }) }}

  {{ govukInput({
    label: {
      text: "Address line 2 (optional)"
    },
    id: "address-line-2",
    name: "addressLine2",
    value: data['addressLine2'],
    autocomplete: "address-line2"
  }) }}

  {{ govukInput({
    label: {
      text: "Town or city (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-town",
    name: "addressTown",
    value: data['addressTown'],
    autocomplete: "address-level2"
  }) }}

  {{ govukInput({
    label: {
      text: "County (optional)"
    },
    classes: "govuk-!-width-two-thirds",
    id: "address-county",
    name: "addressCounty",
    value: data['addressCounty']
  }) }}

  {{ govukInput({
    label: {
      text: "Postcode (optional)"
    },
    classes: "govuk-input--width-10",
    id: "address-postcode",
    name: "addressPostcode",
    value: data['addressPostcode'],
    autocomplete: "postal-code",
    errorMessage: errorMessage if error else null
  }) }}

{% endcall %}

        {{ govukButton({
          text: "Continue"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}
