{% extends "layouts/main.html" %}

{% block pageTitle %}
  What Wayleaves subtype is it? - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
  text: "Back",
  href: "/cases/create-a-case/questions/peas-type-of-case"
}) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorSubtype %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: [{ text: errorSubtype, href: "#wayleaves-subtype" }]
      }) }}
    {% endif %}

    <h1 class="govuk-heading-l">What Wayleaves subtype is it?</h1>

    <form class="form" action="/wayleaves-subtype-answer" method="post" novalidate>
      {{ govukRadios({
        name: "wayleaves-subtype",
        value: data['wayleaves-subtype'],
        fieldset: {
          legend: { text: "What Wayleaves subtype is it?", isPageHeading: false, classes: "govuk-visually-hidden" }
        },
        errorMessage: { text: errorSubtype } if errorSubtype else null,
        items: [
          { value: "New lines", text: "New lines" },
          { value: "Tree lopping", text: "Tree lopping" },
          { value: "Wayleaves", text: "Wayleaves" }
        ]
      }) }}
    
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}