{% extends "layouts/blank.html" %}

{% block pageTitle %}
User testing page
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l"> Filters testing</h1>

<div class="govuk-warning-text">
    <span class="govuk-warning-text__icon" aria-hidden="true">!</span>
    <strong class="govuk-warning-text__text">
        <span class="govuk-visually-hidden">Warning</span>
        This is a prototype so some functionality and links will not work.
    </strong>
</div>

<ul class="govuk-list">
    <a class="govuk-button govuk-button--secondary" href="A.html">Option A</a>
    <a class="govuk-button govuk-button--secondary" href="B.html">Option B</a>
    <a class="govuk-button govuk-button--secondary" href="C.html">Option C</a>
    <a class="govuk-button govuk-button--secondary" href="D.html">Option D</a>
</ul>


{% endblock %}