{% extends "layouts/blank.html" %}

{% block pageTitle %}
User testing page
{% endblock %}

{% block content %}

<h1 class="govuk-heading-l"> Filters testing</h1>

<ul class="govuk-list">
    <a class="govuk-button govuk-button--secondary" href="A.html">Option A</a>
    <a class="govuk-button govuk-button--secondary" href="B.html">Option B</a>
    <a class="govuk-button govuk-button--secondary" href="C.html">Option C</a>
    <a class="govuk-button govuk-button--secondary" href="D.html">Option D</a>
</ul>


{% endblock %}