{% extends "layouts/main.html" %}

{% block pageTitle %}
  When were all the statements of case received? (optional) - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "/cases/case-details?ref=" + ref }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    {% if errorList.length > 0 %}
      {{ govukErrorSummary({
        titleText: "There is a problem",
        errorList: errorList
      }) }}
    {% endif %}

    <form action="/cases/procedures/procedure-3/statements-received?ref={{ ref }}" method="post" novalidate>
      <input type="hidden" name="ref" value="{{ ref }}">

      {{ govukDateInput({
        id: "statements-received",
        namePrefix: "statements-received",
        fieldset: {
          legend: {
            text: "When were all the statements of case received? (optional)",
            isPageHeading: true,
            classes: "govuk-fieldset__legend--l"
          }
        },
        hint: {
          text: "For example, 27 3 2024"
        },
        errorMessage: { text: errorList[0].text } if errorList.length > 0 else null,
        items: [
          { name: "day", classes: "govuk-input--width-2", value: day },
          { name: "month", classes: "govuk-input--width-2", value: month },
          { name: "year", classes: "govuk-input--width-4", value: year }
        ]
      }) }}

      <div class="govuk-button-group">
        {{ govukButton({ text: "Save" }) }}
        {{ govukButton({ text: "Remove and save", classes: "govuk-button--secondary", name: "action", value: "remove" }) }}
      </div>
    </form>
  </div>
</div>
{% endblock %}