{% extends "layouts/main.html" %}

{% block pageTitle %}Delete files - Planning Inspectorate Portal{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({ 
    text: "Back to " + folder.name + " folder", 
    href: "/cases/manage-folders/view/" + folder.id + "/" + folder.slug + "?ref=" + currentCase.reference 
  }) }}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">

    <h1 class="govuk-heading-l" data-cy="page-heading">Delete {{ docsToDelete.length }} file{% if docsToDelete.length != 1 %}s{% endif %}</h1>

    <form method="post" novalidate>
      <table class="govuk-table" data-cy="move-files-table">
        <thead class="govuk-table__head">
          <tr class="govuk-table__row">
            <th scope="col" class="govuk-table__header">File name</th>
            
            {# --- conditionally show Action column if more than 1 file --- #}
            {% if docsToDelete.length > 1 %}
              <th scope="col" class="govuk-table__header govuk-!-text-align-right">
                <span class="govuk-visually-hidden">Action</span>
              </th>
            {% endif %}
            
          </tr>
        </thead>
        <tbody class="govuk-table__body">
          {% for doc in docsToDelete %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell"><span data-cy="file-name-{{ doc.id }}">{{ doc.name }}</span></td>
            
            {# --- conditionally show Remove link pushed to the right if more than 1 file --- #}
            {% if docsToDelete.length > 1 %}
              <td class="govuk-table__cell govuk-!-text-align-right">
                <a class="govuk-link" href="/cases/manage-folders/view/{{ folder.id }}/{{ folder.slug }}/delete-selected/remove?docId={{ doc.id }}&ref={{ currentCase.reference }}">
                  Remove<span class="govuk-visually-hidden"> {{ doc.name }}</span>
                </a>
              </td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>

      {{ govukWarningText({
        text: "This action cannot be undone.",
        iconFallbackText: "Warning"
      }) }}

      {{ govukButton({
        text: "Delete file" if docsToDelete.length == 1 else "Delete files",
        classes: "govuk-button--warning govuk-!-margin-top-4"
      }) }}
    </form>

  </div>
  <div class="govuk-grid-column-two-thirds">
    <a class="govuk-link" href="/cases/manage-folders/view/{{ folder.id }}/{{ folder.slug }}?ref={{ currentCase.reference }}" data-cy="cancel-link">
      Cancel and return to folder
    </a>
  </div>
</div>
{% endblock %}