{% extends "layouts/main.html" %}
{% block pageTitle %}Who is the contact? - Planning Inspectorate Portal{% endblock %}
{% block beforeContent %}
  {{ govukBackLink({ text: "Back", href: "javascript:history.back()" }) }}
{% endblock %}
{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <form method="post" action="/cases/key-contacts/contacts/step-2?ref={{ ref }}&id={{ id }}">
      {% call govukFieldset({
        legend: { text: "Who is the contact?", classes: "govuk-fieldset__legend--l", isPageHeading: true }
      }) %}
      <div class="govuk-hint">Enter the name of the individual, the organisation, or both.</div>
      {{ govukInput({ label: { text: "First Name" }, id: "con-fname", name: "con-fname", value: fname }) }}
      {{ govukInput({ label: { text: "Last Name" }, id: "con-lname", name: "con-lname", value: lname }) }}
      {{ govukInput({ label: { text: "Contact company or organisation name" }, id: "con-org", name: "con-org", value: org }) }}
      {% endcall %}
      {{ govukButton({ text: "Continue" }) }}
    </form>
  </div>
</div>
{% endblock %}