{% extends "layouts/main.html" %}

{% block pageTitle %}
Manage planning, environmental and specialist casework
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

 {{ govukPanel({
        titleText: "New case has been created",
        html: "The case reference number<br><strong>" + data['caseRef'] + "</strong>"
      }) }}

      <br>

      <p class="govuk-body">
        <a href="/cases/case-details?ref={{ data['caseRef'] }}" class="govuk-link">Continue to case details page</a>
      </p>

    </div>
  </div>

{% endblock %}