{% extends "layouts/main.html" %}
{% block pageTitle %}

Who is the authority? - Planning Inspectorate Portal

{% endblock %}

{% block beforeContent %}{{ govukBackLink({ text: "Back", href: "/cases/case-details?ref=" + ref }) }}{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form action="/cases/edit/authority?ref={{ ref }}" method="post" novalidate>
{{ govukInput({
  label: {
    text: "Who is the authority? (optional)",
    classes: "govuk-label--l",
    isPageHeading: true
  },
  hint: {
    text: "Enter the Local Planning Authority or Common Registration Authority"

  },
  id: "authority-name",
  name: "authorityName",
  value: value
}) }}

<p class="govuk-body">To add a new authority to the list or to add multiple authorities to your case <br> contact <a href="mailto:data_architects@planninginspectorate.gov.uk">data_architects@planninginspectorate.gov.uk.</a></p>
   
        {{ govukButton({ text: "Save" }) }}
      </form>
    </div>
  </div>
{% endblock %}