{% extends "layouts/main.html" %}

{% block pageTitle %}
  {% if errorList %}Error: {% endif %}Check inspector details - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      {# --- DYNAMIC ERROR SUMMARY --- #}
      {% if errorList %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: errorList
        }) }}
      {% endif %}

      <h1 class="govuk-heading-l">Check inspector details</h1>

      {% if inspectors and inspectors.length > 0 %}
        {# Added the MOJ Sortable Module to the table #}
        <table class="govuk-table" data-module="moj-sortable-table">
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              {# Added aria-sort="none" to the headers you want to sort by #}
              <th scope="col" class="govuk-table__header" aria-sort="none">Inspector name</th>
              <th scope="col" class="govuk-table__header" aria-sort="none">Date appointed</th>
              {# Not adding aria-sort to Actions #}
              <th scope="col" class="govuk-table__header govuk-!-width-one-quarter">Actions</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            {% for item in inspectors %}
              <tr class="govuk-table__row">
                <td class="govuk-table__cell">{{ item.name }}</td>
                <td class="govuk-table__cell">{{ item.date }}</td>
                <td class="govuk-table__cell">
                  <ul class="govuk-summary-list__actions-list">
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/cases/edit/inspector-change?ref={{ ref }}&id={{ item.id }}">
                        Change<span class="govuk-visually-hidden"> {{ item.name }}</span>
                      </a>
                    </li>
                    <li class="govuk-summary-list__actions-list-item">
                      <a class="govuk-link" href="/cases/edit/inspector-remove?ref={{ ref }}&id={{ item.id }}">
                        Remove<span class="govuk-visually-hidden"> {{ item.name }}</span>
                      </a>
                    </li>
                  </ul>
                </td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
      <p class="govuk-body">Add one or more inspectors. No inspector details have been added.</p>
    {% endif %}

{# --- BUTTONS --- #}
    <form action="/cases/edit/check-inspectors/save?ref={{ ref }}" method="post" novalidate>
      
      <div class="govuk-button-group">
        
        {{ govukButton({
          text: "Add details",
          classes: "govuk-button--secondary",
          href: "/cases/edit/inspector-name?ref=" + ref
        }) }}
      </div>

      <div class="govuk-button-group">

          {{ govukButton({
            text: "Save and continue"
          }) }}
          {{ govukButton({
            text: "Cancel",
            classes: "govuk-button--secondary",
            href: "/cases/edit/check-inspectors/cancel?ref=" + ref
          }) }}
      </div>


    </form>

{% endblock %}