{% extends "layouts/main.html" %}

{% block pageTitle %}
Check applicant or appellant - Planning Inspectorate Portal
{% endblock %}

{% block beforeContent %}

{% endblock %}

{% block content %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h1 class="govuk-heading-l">Check applicant or appellant details</h1>

      <p class="govuk-body">You will be able to add multiple main parties e.g. applicant, <br> appellant, server, utility company.</p>
 
      
      <div class="govuk-button-group">
        {{ govukButton({
        text: "Add details",
        href: "/cases/edit/applicant-name?ref=" + ref
      }) }}

       {{ govukButton({
          text: "Cancel",
          classes: "govuk-button--secondary",
          href: "/cases/case-details?ref=" + ref
        }) }}
      </div>

 
  </div>
</div>
{% endblock %}


{# THIS PAGE WILL NO LONGER BE SHOWN AS APPLICANTS WILL ALWAYS HAVE 1 ENTRY BUT THE LOGIC IS STILL AVAILABLE
  
  IF YOU WANT TO USE THIS PAGE, RE-ADD THE REMOVE BUTTON FOR IF THERE IS ONLY 1 ENTRY ON: 
  
  'check-applicants.html'
  
  AND FIND:
  
  {% if list.length > 1 %}
  <li class="govuk-summary-list__actions-list-item">
    <a class="govuk-link" href="/cases/applicants/remove?ref={{ ref }}&id={{ item.id }}">
      Remove<span class="govuk-visually-hidden"> applicant</span>
    </a>
  </li>
  {% endif %} 

 AND DELETE THE IF FUNCTION WRAPPING THE REMOVE BUTTON.

#}