{% extends "layouts/main.html" %}

{% block pageTitle %}
{% if error %}Error: {% endif %}Is this the lead case?
{% endblock %}

{% block beforeContent %}
  {{ govukBackLink({
    text: "Back",
    href: "/cases/linked-cases/step-1?ref=" + ref + "&id=" + id
  }) }}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      {% if error %}
        {{ govukErrorSummary({
          titleText: "There is a problem",
          errorList: [
            {
              text: errorMessage.text,
              href: "#isLead"
            }
          ]
        }) }}
      {% endif %}

      <form action="/cases/linked-cases/save?ref={{ ref }}&id={{ id }}" method="post" novalidate>

        {{ govukRadios({
          name: "isLead",
          fieldset: {
            legend: {
              text: "Is this the lead case?",
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            { value: "Yes", text: "Yes", checked: (isLead == "Yes") },
            { value: "No", text: "No", checked: (isLead == "No") }
          ],
          errorMessage: errorMessage if error else null
        }) }}

        {{ govukButton({
          text: "Save"
        }) }}

      </form>

    </div>
  </div>

{% endblock %}